body{
	background-image: url("../images/back1.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
@media (max-width: 650px){
  body{
    background-size: auto;
  }
}
@media (max-width: 1000px){
}
.card-body{
  background-image: url('../resources/patterns/simple_dashed.png'); 
  color: white;
}
#login {
  display: block;
  left: 50%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 2;
}
.card .card-action a{
	color: white;
}
.card .card-action .material-icons{
	color: white;
}
.card .card-action a:hover{
	color: white;
}
.logo{
  width: 20%;
  height: 20%;
  margin-bottom: -23px;
  padding-right: 5px;
}
.toast{
  background-color: #009688;
}