body{
	background-image: url("../resources/patterns/dark_exa.png");
}
.fab-desktop{
	z-index: 6;
}
.contnotes{
	background-image: url("../resources/patterns/pw_maze_white.png");
}
.mol-header{
	width: 100%; 
	height: 90px;
}
.mol-header h4{
	color: #64ffda;
	margin-top: 4%;
}
.modal{
	border-radius: 7px 7px 7px 7px;
	background-image: url("../resources/patterns/gplaypattern.png");
}
.modal-footer{
	background-color: transparent;
}
.userPort{
	/*background-image: url("../resources/patterns/");*/
}
@media (min-width: 1000px) {
	.brand-logo{
		margin-left: 30px;
	}
	#search-bar {
		margin-left: 270px;
	}
	.contnotes{
		margin-top: 50px; 
		width: 85%;
		border-radius: 5px;
	}
	.fab-desktop{
		bottom: 45px; 
		right: 24px;
	}
	.logo{
		margin-bottom: -16px;
	}
}
@media (max-width: 750px) and (min-width: 601px){
	.fab-desktop{
		top: -11.5px; 
		right: 14px;
	}
	.logo{
		
	}
}
@media (max-width: 600px){
	.fab-desktop{
		top: -15px; 
		right: 7px;
	}
}
.logo{
	width: 55px;
	height: 55px;
	border-radius: 50px 50px 50px 50px;
}
#rownotes{
	padding: 30px 50px 30px 50px;
}