<!DOCTYPE html>
<html lang="es-ES" ng-app="appMaster">
	<head>
		<title>EduSystem</title>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type"text/css" rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="images/book.png">
	</head>
	<body ng-controller="ctrlMaster">
		<!-- NAVBAR HEADER -->
		<nav>
			<div class="nav-wrapper teal accent-4 z-depth-2">
				<div class="brand-logo">
					<img class="logo z-depth-1" src="images/book.png">
					<a href="#!" >EduSystem</a>
				</div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="masterStudents.html" class="waves-effect waves-teal">Alumnos</a></li>
					<li><a href="masterNotes.html" class="waves-effect waves-teal">Notas</a></li>
					<li><a ng-click="logout()" class="waves-effect waves-teal">Logout</a></li>
					<form id="search-bar">
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li ><a href="masterStudents.html">Alumnos</a></li>
					<li><a href="masterNotes.html">Notas</a></li>
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- BODY CONTENT PAGE -->
		
		<div class="container contnotes" style="" >
			<div class="row" id="rownotes">
				<div class="col s12 m6 l3" ng-repeat="al in alumnos">
					<div class="card  blue-grey lighten-4">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="images/users/{{al.imagen}}">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">{{al.nombre}}<i class="material-icons right">more_vert</i></span>
							<p><a class="waves-effect waves-light btn" ng-click="viewmore(al.idalumno)">Ver Perfil</a></p>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">{{al.nombre}}<i class="material-icons right">close</i></span>
							<h5>Correo: </h5>
							<p>{{al.correo}}</p>
							<table class="highlight">
								<thead>
									<tr>
										<th>Curso</th>
										<th>Promedio</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="note in al.notes">
										<td>{{note.nombre}}</td>
										<td>{{(note.unidad1 + note.unidad2 + note.unidad3 + note.unidad4 + note.unidad5)/5}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ADD ACTIONS -->
		<div class="fixed-action-btn fab-desktop">
			<a class="btn-floating btn-large waves-effect waves-light red">
				<i class="large material-icons">settings</i>
			</a>
			<ul>
				<li><a class="btn-floating waves-effect waves-light green darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Curso" id="add-course"><i class="material-icons">group_work</i></a></li>
				<li><a class="btn-floating waves-effect waves-light teal darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Maestro" id="add-master"><i class="material-icons">supervisor_account</i></a></li>
				<li><a class="btn-floating waves-effect waves-light red darken-3 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Alumno" id="add-button"><i class="material-icons">perm_identity</i></a></li>
			</ul>
		</div>
		
		<!-- Modal Add Student Structure -->
		<div id="modal-add" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Alumno</h4></center>
			</div>
			<div class="modal-content">
				<!-- BODY -->
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.nombre" id="nombre" type="text" class="validate" required>
								<label for="nombre">Nombre</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input
								ng-model="alumno.password" id="password" type="password" class="validate" required>
								<label for="password">Password</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.correo" id="correo" type="email" class="validate" required>
								<label for="correo">Correo</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.imagen" id="imagen" type="text" class="validate" required>
								<label for="imagen">Imagen</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarAlumno()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- Modal Add Master Structure -->
		<div id="modal-add-master" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Maestro</h4></center>
			</div>
			<div class="modal-content">
				<!-- BODY -->
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="master.nombre" id="nombreMaster" type="text" class="validate" required>
								<label for="nombreMaster">Nombre</label> 
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="master.password" id="passMaster" type="password" class="validate" required>
								<label for="passMaster">Password</label> 
							</div>
							<div class="input-field col s12 m12 l12">
								<input ng-model="master.correo" id="emailMaster" type="email" class="validate" required>
								<label for="emailMaster">Correo</label> 
							</div>	
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarMaestro()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- MODAL ADD COURSE -->
		<div id="modal-add-course" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Curso</h4></center>
			</div>
			<div class="modal-content">
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="course.nombre" id="nombreCurso" type="text" class="validate" required>
								<label for="nombreCurso">Nombre</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="course.ciclo" id="cicloCurso" type="number" class="validate" required>
								<label for="cicloCurso">Ciclo</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarCurso()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- MODAL SEARCH ACTION-->
		<div id="modal-search" class="modal bottom-sheet">
			<div class="modal-content">
				<h4>Modal Header</h4>
				<p>A bunch of text</p>
			</div>
			<div class="modal-footer">
				<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
			</div>
		</div>
		
		<!-- FOOTER
		<footer style="background-color: dimgrey; position: fixed; bottom: 0px; width: 100%; height: 100px; z-index: 6;">	
		</footer>
		-->
		<!-- SCRIPTS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="js/dashMaster.js"></script>
		<script>
			$( document ).ready(function(){
				$(".button-collapse").sideNav();
			});
			$("#add-button").click(function(){
				$('#modal-add').openModal();
			});
			$("#add-master").click(function(){
				$("#modal-add-master").openModal();
			});
			$("#add-course").click(function(){
				$("#modal-add-course").openModal();
			});
			$("#search").keypress(function(event) {
				var key = event.which;
				if(key == 13){
					alert($("#search").val());
					$('#modal-search').openModal();
					$("#search").focusout();
				}
			});
		</script>
	</body>
</html> 