<!DOCTYPE html>
<html lang="es-ES" ng-app="appMaster">
	<head>
		<title>EduSystem</title>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type"text/css" rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="images/book.png">
	</head>
	<body ng-controller="ctrlMaster">
		<!-- NAVBAR HEADER -->
		<nav>
			<div class="nav-wrapper teal accent-4 z-depth-1" id="nav">
				<div class="brand-logo">
					<img class="logo z-depth-1" src="images/book.png">
					<a href="#" id="aname">EduSystem</a>
				</div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li style="visibility: hidden;" class="desk"><a href="masterStudents.html" class="waves-effect waves-teal">Alumnos</a></li>
					<li style="visibility: hidden;" class="desk"><a href="masterNotes.html" class="waves-effect waves-teal">Notas</a></li>
					<li><a ng-click="logout()" class="waves-effect waves-teal">Logout</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="desk"><a href="masterStudents.html">Alumnos</a></li>
					<li class="desk"><a href="masterNotes.html">Notas</a></li>
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- BODY CONTENT PAGE -->
		
		<div id="userPort" style="width: 100%; height: 270px;"></div>
		<div>
			<center><img style="width: 300px; height: 300px; margin-top: -160px; z-index: 5;" class="circle z-depth-1" src="images/users/{{logged.imagen}}"></center>
		</div>
		<div class="blue-grey" style=" margin-top: -178px; width: 100%; height: 300px; z-index: 1; box-shadow: inset 0px 3px 9px -5px rgba(0,0,0,0.75);">	
			<center><h1 style="font-size: 7em; padding-top: 1.5em; color: white;">{{logged.nombre}}</h1></center>
		</div>
		<div class="container contnotes">
			<div class="row">
				<div class="col s12 m12 l12">
					<table class="striped centered">
						<thead>
							<th>Materia</th>
							<th>Unidad1</th>
							<th>Unidad2</th>
							<th>Unidad3</th>
							<th>Unidad4</th>
							<th>Unidad5</th>
							<th>Promedio</th>
							<th>Estado</th>
						</thead>
						<tbody>
							<tr ng-repeat="note in logged.notes">
								<td>{{note.nombre}}</td>
								<td>{{note.unidad1}}</td>
								<td>{{note.unidad2}}</td>
								<td>{{note.unidad3}}</td>
								<td>{{note.unidad4}}</td>
								<td>{{note.unidad5}}</td>
								<td>{{(note.unidad1 + note.unidad2 + note.unidad3 + note.unidad4 + note.unidad5)/5}}</td>
								<td>{{note.estado}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br>
		</div>
		<br>
		<br>
		<br>
		
		<!-- FOOTER
		<footer style="background-color: dimgrey; position: fixed; bottom: 0px; width: 100%; height: 100px; z-index: 6;">	
		</footer>
		-->
		<!-- SCRIPTS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="js/dashMaster.js"></script>
		<script src="js/app.js"></script>
		<script>
			$( document ).ready(function(){
				$(".button-collapse").sideNav();
			});
		</script>
	</body>
</html> 