<!DOCTYPE html>
<html lang="es-ES">
	<head>
		<title>EduSystem</title>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type"text/css" rel="stylesheet" href="css/login.css">
		<link rel="shortcut icon" href="images/book.png">
	</head>
	<body>
		<section id="login" ng-app="appLogin" ng-controller="ctrlLogin">
			<div class="card blue-grey darken-1 z-depth-2 ">
				<div class="card-content white-text waves-effect waves-light" style="width: 100%; height: 100%;">
					<center><img class="logo" src="images/book.png"> <span style="font-size: 3em;">EduSystem</span></center>
				</div>
				<div class="card-action card-body">
					<form>
						<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix">account_circle</i>
								<input id="correo" ng-model="correo" type="email" class="validate" required>
								<label for="correo">Correo</label>
							</div>
							<div class="input-field col s12">
								<i class="material-icons prefix">lock_outline</i>
								<input id="password" ng-model="password" type="password" class="validate" required>
								<label for="password">Password</label>
							</div>
						</div>
						<center><a ng-click="login()" id="btLogin" class="waves-effect waves-light btn">
							<i class="material-icons left">input</i>Login</a></center>
					</form>
				</div>
			</div>
		</section>
			
		<!-- SCRIPTS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script type="text/javascript" src="js/login.js"></script>
	</body>
</html> 