<!DOCTYPE html>
<html lang="es-ES" ng-app="appMaster">
	<head>
		<title>EduSystem</title>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type"text/css" rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="images/book.png">
	</head>
	<body ng-controller="ctrlMaster">
		<!-- NAVBAR HEADER -->
		<nav>
			<div class="nav-wrapper teal accent-4 z-depth-2">
				<div class="brand-logo">
					<img class="logo z-depth-1" src="images/book.png">
					<a href="dashboardMaster.html" >EduSystem</a>
				</div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li class="active"><a href="" class="waves-effect waves-teal">Alumnos</a></li>
					<li><a href="masterNotes.html" class="waves-effect waves-teal">Notas</a></li>
					<li><a ng-click="logout()" class="waves-effect waves-teal">Logout</a></li>
					<form id="search-bar">
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="active"><a>Alumnos</a></li>
					<li><a href="masterNotes.html">Notas</a></li>
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- BODY CONTENT PAGE -->
		
		<div class="container contnotes" style="" >
			<div class="row" style="padding: 30px 50px 30px 50px">
				<div class="col s12 m12 l12">
					<ul class="collection striped">
						<li class="collection-item avatar" ng-repeat="al in alumnos">
							<img src="images/users/{{al.imagen}}" alt="" class="circle">
							<span class="title">{{al.nombre}}</span>
							<p>{{al.correo}}</p>
							<div class="secondary-content">
								<a class="waves-effect waves-light btn" ng-click="deleteAlumno(al.idalumno)"><i class="material-icons">delete</i></a>
								<a class="waves-effect waves-light btn" ng-click="chargeUpdate(al.idalumno)"><i class="material-icons">mode_edit</i></a>
								<a class="waves-effect waves-light btn tooltipped" data-position="top" data-delay="50" data-tooltip="Asignar Curso" ng-click="chargeCourses(al.idalumno)"><i class="material-icons">assignment</i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!-- SETTINGS ACTIONS -->
		<div class="fixed-action-btn fab-desktop">
			<a class="btn-floating btn-large waves-effect waves-light red">
				<i class="large material-icons">settings</i>
			</a>
			<ul>
				<li><a class="btn-floating waves-effect waves-light green darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Curso" id="add-course"><i class="material-icons">group_work</i></a></li>
				<li><a class="btn-floating waves-effect waves-light teal darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Maestro" id="add-master"><i class="material-icons">supervisor_account</i></a></li>
				<li><a class="btn-floating waves-effect waves-light red darken-3 tooltipped" data-position="left" data-delay="50" data-tooltip="Agregar Alumno" id="add-button"><i class="material-icons">perm_identity</i></a></li>
			</ul>
		</div>
		
		<!-- MODAL ADD COURSE -->
		<div id="modal-add-course" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Curso</h4></center>
			</div>
			<div class="modal-content">
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="course.nombre" id="nombreCurso" type="text" class="validate" required>
								<label for="nombreCurso">Nombre</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="course.ciclo" id="cicloCurso" type="number" class="validate" required>
								<label for="cicloCurso">Ciclo</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarCurso()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- MODAL ASSIGNMENT COURSE -->
		<div id="modal-assignment" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Asignar Curso</h4></center>
			</div>
			<div class="modal-content">
				<div class="row">
					<div class="col s4 m4 l4">
						<h5>Cursos</h5>
						<div ng-repeat="cur in cursos track by $index">
							<h6 style="color: #1de9b6">{{cur.nombre}}</h6>
							<div class="switch">
								<label>
									NO
									<input ng-click="chargeCourse(cur.idcurso)" type="checkbox">
									<span class="lever"></span>
									YES
								</label>
							</div>
						</div>
					</div>
					<div class="col s4 m4 l4">
						<h5>Asignados</h5>
						<div class="card blue-grey darken-1" ng-repeat="curt in tempCursos track by $index">
							<div class="card-content white-text">
								<span class="card-title">{{curt.nombre}}</span>
								<p>{{curt.ciclo}}</p>
							</div>
						</div>
					</div>
					<div class="col s4 m4 l4">
						<h5>Asignar</h5>
						<div class="card blue-grey darken-1" ng-repeat="cus in assignCursos track by $index">
							<div class="card-content white-text">
								<span class="card-title">{{cus.nombre}}</span>
								<p>{{cus.ciclo}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="asignar()" class=" modal-action modal-close waves-effect waves-green btn">Asignar</a>
			</div>
		</div>
		
		<!-- Modal Add Master Structure -->
		<div id="modal-add-master" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Maestro</h4></center>
			</div>
			<div class="modal-content">
				<!-- BODY -->
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="master.nombre" id="nombreMaster" type="text" class="validate" required>
								<label for="nombreMaster">Nombre</label> 
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="master.password" id="passMaster" type="password" class="validate" required>
								<label for="passMaster">Password</label> 
							</div>
							<div class="input-field col s12 m12 l12">
								<input ng-model="master.correo" id="emailMaster" type="email" class="validate" required>
								<label for="emailMaster">Correo</label> 
							</div>	
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarMaestro()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- Modal Add Student Structure -->
		<div id="modal-add" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Agregar Alumno</h4></center>
			</div>
			<div class="modal-content">
				<!-- BODY -->
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.nombre" id="nombre" type="text" class="validate" required>
								<label for="nombre">Nombre</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input
								ng-model="alumno.password" id="password" type="password" class="validate" required>
								<label for="password">Password</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.correo" id="correo" type="email" class="validate" required>
								<label for="correo">Correo</label>
							</div>
							<div class="input-field col s12 m6 l6">
								<input ng-model="alumno.imagen" id="imagen" type="text" class="validate" required>
								<label for="imagen">Imagen</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="agregarAlumno()" class=" modal-action modal-close waves-effect waves-green btn">Agregar</a>
			</div>
		</div>
		
		<!-- MODAL UPDATE -->
		<div id="modal-update" class="modal">
			<div class="card-content white-text waves-effect waves-light blue-grey darken-1 mol-header">
				<center><h4>Actualizar Alumno</h4></center>
			</div>
			<div class="modal-content" >
				<div class="row">
					<form class="col s12">
						<div class="row">
							<div class="input-field col s12 m6 l6">
								Nombre: 
								<input ng-model="upalumno.nombre" id="up-nombre" type="text" class="validate" required>
							</div>
							<div class="input-field col s12 m6 l6">
								Password:
								<input ng-model="upalumno.password" id="up-password" type="password" class="validate" required>
							</div>
							<div class="input-field col s12 m6 l6">
								Correo:
								<input ng-model="upalumno.correo" id="up-correo" type="email" class="validate" required>
							</div>
							<div class="input-field col s12 m6 l6">
								Imagen:
								<input ng-model="upalumno.imagen" id="up-imagen" type="text" class="validate" required>
							</div>
						</div>
					</form>
					<hr>
					<table class="col s12 m12 l12 striped centered">
						<thead>
							<th>Materia</th>
							<th>Unidad1</th>
							<th>Unidad2</th>
							<th>Unidad3</th>
							<th>Unidad4</th>
							<th>Unidad5</th>
							<th>Promedio</th>
							<th>Estado</th>
						</thead>
						<tbody>
							<tr ng-repeat="note in upalumno.notes">
								<td>{{note.nombre}}</td>
								<td>
									<div class="input-field">
										<input ng-model="note.unidad1" type="number" min="0" max="100" required>
									</div>
								</td>
								<td>
									<div class="input-field">
										<input ng-model="note.unidad2" type="number" min="0" max="100" required>
									</div>
								</td>
								<td>
									<div class="input-field">
										<input ng-model="note.unidad3" type="number" min="0" max="100" required>
									</div>
								</td>
								<td>
									<div class="input-field">
										<input ng-model="note.unidad4" type="number" min="0" max="100" required>
									</div>
								</td>
								<td>
									<div class="input-field">
										<input ng-model="note.unidad5" type="number" min="0" max="100" required>
									</div>
								</td>
								<td>{{(note.unidad1 + note.unidad2 + note.unidad3 + note.unidad4 + note.unidad5)/5}}</td>
								<td>{{note.estado}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer blue-grey darken-1">
				<a ng-click="actualizarAlumno()" class=" modal-action modal-close waves-effect waves-green btn">Actualizar</a>
			</div>
		</div>
		
		<!-- FOOTER
		<footer style="background-color: dimgrey; position: fixed; bottom: 0px; width: 100%; height: 100px; z-index: 6;">	
		</footer>
		-->
		<!-- SCRIPTS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="js/dashMaster.js"></script>
		<script>
			$( document ).ready(function(){
				$(".button-collapse").sideNav();
			});
			$("#add-button").click(function(){
				$('#modal-add').openModal();
			});
			$("#add-master").click(function(){
				$("#modal-add-master").openModal();
			});
			$("#add-course").click(function(){
				$("#modal-add-course").openModal();
			});
		</script>
	</body>
</html> 