<!DOCTYPE html>
<html lang="es-ES" ng-app="appMaster">
	<head>
		<title>EduSystem</title>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type"text/css" rel="stylesheet" href="css/style.css">
		<link rel="shortcut icon" href="images/book.png">
	</head>
	<body ng-controller="ctrlMaster">
		<!-- NAVBAR HEADER -->
		<nav>
			<div class="nav-wrapper teal accent-4 z-depth-2">
				<div class="brand-logo">
					<img class="logo z-depth-1" src="images/book.png">
					<a href="dashboardMaster.html" >EduSystem</a>
				</div>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="masterStudents.html" class="waves-effect waves-teal">Alumnos</a></li>
					<li class="active"><a class="waves-effect waves-teal">Notas</a></li>
					<li><a ng-click="logout()" class="waves-effect waves-teal">Logout</a></li>
					<form id="search-bar">
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="masterStudents.html">Alumnos</a></li>
					<li class="active"><a>Notas</a></li>
					<li><a ng-click="logout()">Logout</a></li>
				</ul>
			</div>
		</nav>
		
		<!-- BODY CONTENT PAGE -->
		
		<div class="container contnotes" style="" >
			<div class="row" style="padding: 30px 50px 30px 50px">
				<table class="col s12 m12 l12 bordere centered">
					<thead class="">
						<tr>
							<th>Nombre</th>
							<th>Correo</th>
							<th>Notas</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="al in alumnos">
							<td>{{al.nombre}}</td>
							<td>{{al.correo}}</td>
							<td>
								<table class="striped centered">
									<thead>
										<th>Materia</th>
										<th>Unidad1</th>
										<th>Unidad2</th>
										<th>Unidad3</th>
										<th>Unidad4</th>
										<th>Unidad5</th>
										<th>Promedio</th>
										<th>Estado</th>
									</thead>
									<tbody>
										<tr ng-repeat="note in al.notes">
											<td>{{note.nombre}}</td>
											<td>{{note.unidad1}}</td>
											<td>{{note.unidad2}}</td>
											<td>{{note.unidad3}}</td>
											<td>{{note.unidad4}}</td>
											<td>{{note.unidad5}}</td>
											<td>{{(note.unidad1 + note.unidad2 + note.unidad3 + note.unidad4 + note.unidad5)/5}}</td>
											<td>{{note.estado}}</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<!-- FOOTER
		<footer style="background-color: dimgrey; position: fixed; bottom: 0px; width: 100%; height: 100px; z-index: 6;">	
		</footer>
		-->
		<!-- SCRIPTS -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="js/dashMaster.js"></script>
		<script>
			$( document ).ready(function(){
				$(".button-collapse").sideNav();
			});
		</script>
	</body>
</html> 